:root {
  --color-light-1: #EAEDEE;
  --color-light-2: #50A6D3;
  --color-dark-1: #475D7C;
  --color-dark-2: #1C1A1F;
  --color-highlight: #449353;
  --color-success: #42956f;
  --color-fail: #f44336;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

body {
  position: relative;
  min-height: 100vh;
  background:  var(--color-dark-1);
  color: var(--color-highlight);
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-dark-1);
  text-decoration: none;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  background: var(--color-highlight);
  white-space: nowrap;
  color: var(--color-dark-2);
  align-items: center;
}

.menu-title {
  margin-left: 10px;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  white-space: nowrap;
  color: var(--color-dark-2);
}

.menu-icon {
  height: 45px;
  margin: 10px;
}

.generator-page-layout {
  display: flex;
  justify-content: space-between;
}

.input-form {
  max-width: 600px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 40px;

  border-style: solid;
  border-width: 2px;
  border-color: var(--color-dark-2);
  background: var(--color-light-1);

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.session-container {
  display: none;
  flex-direction: column;

  padding: 5px;
  margin-bottom: 5px;

  border-style: solid;
  border-width: 2px;
  border-color: var(--color-dark-2);
  background: var(--color-highlight);
}

.session-heading {
  display: flex;
  justify-content: space-between;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  color: var(--color-dark-2);
  margin-top: 10px;
  margin-bottom: 10px;
}

.session-data-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin-bottom: 5px;
  max-width: 400px;

  border-style: solid;
  border-width: 2px;
  border-color: var(--color-dark-2);
  background: var(--color-light-1);
}

.session-data {
  display: flex;
  margin-right: 15px;
  line-height: 150%;
}

.data-label {
  color: var(--color-dark-2);
  margin-right: 10px;
}

#name-data {
  display: none;
}

.session-description {
  padding: 5px;
  max-width: 400px;
  line-height: 120%;

  border-style: solid;
  border-width: 2px;
  border-color: var(--color-dark-2);
  background: var(--color-light-1);
}

#sess-description-title {
  color: var(--color-dark-2);
  margin-bottom: 5px;
}

#again-button {
  display: none;
  margin-bottom: 10px;
}

.description-text {
  margin: auto;
  text-align: center;
  max-width: 400px;
}

.input-heading {
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  color: var(--color-dark-2);
  margin-top: 20px;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  padding: 5px;
  margin-bottom: 5px;

  border-style: solid;
  border-width: 2px;
  border-color: var(--color-dark-2);
  background: var(--color-light-1);
}

input[type=number] {
  width: 80px;
  padding: 4px;

  border-style: none;
  background: var(--color-highlight);
  color: var(--color-light-1);
  font-family: 'Orbitron', sans-serif;
  font-weight: bolder;
}

input[type=number]:invalid {
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-light-2);
}

.check-option-container {
  min-width: 50%;
  align-self: flex-start;
  display: flex;
  align-items: center;

  padding: 5px;
  margin-bottom: 5px;

  border-style: solid;
  border-width: 2px;
  border-color: var(--color-dark-2);
  background: var(--color-light-1);
}

.action-button {
  align-self: center;
  padding: 10px 20px;
  margin-top: 15px;

  background: var(--color-highlight);
  color: var(--color-dark-2);

  border-style: solid;
  border-width: 2px;
  border-color: var(--color-dark-2);
}

.action-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.footer {
  width: 100%;
  position: absolute;
  margin-bottom: 10px;
  bottom: 0;

  background: var(--color-highlight);
  color: var(--color-dark-2);
  text-align: center;
  font-size: 10px;
}

/* Phone Mode: Min screen width for tablet mode view is 720px */
@media only screen and (max-width: 720px) {

  body {
    font-size: 12px;
  }

  .menu-title {
    font-size: 15px;
  }

  .menu-icon {
    height: 30px;
  }

  #sess-name-heading {
    display: none;
  }

  #name-data {
    display: flex;
  }

  .input-form {
    margin-top: 20px;
  }

  .input-heading {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .check-option-container {
    align-self: stretch;
  }

}

/* For really small phone screens */
@media only screen and (max-width: 280px) {

  .menu-title {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .menu-icon {
    display: none;
  }

}
